VigoNFE/Service References/Status3_GO/NfeStatusServico2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NfeStatusServico2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeStatusServicoNF2Result">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" name="versaoDados" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="NfeStatusServicoService_nfeStatusServicoNF2Response">
    <part name="nfeStatusServicoNF2Result" element="tns:nfeStatusServicoNF2Result" />
  </message>
  <message name="NfeStatusServicoService_nfeStatusServicoNF2">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <portType name="NfeStatusServicoService">
    <operation name="nfeStatusServicoNF2" parameterOrder="nfeCabecMsg nfeDadosMsg">
      <input message="tns:NfeStatusServicoService_nfeStatusServicoNF2" />
      <output message="tns:NfeStatusServicoService_nfeStatusServicoNF2Response" />
    </operation>
  </portType>
  <binding name="NfeStatusServicoServiceBinding" type="tns:NfeStatusServicoService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeStatusServicoNF2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2/nfeStatusServicoNF2" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
        <soap12:header message="tns:NfeStatusServicoService_nfeStatusServicoNF2" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeStatusServicoNF2Result" />
      </output>
    </operation>
  </binding>
  <service name="NfeStatusServico2">
    <port name="NfeStatusServicoServicePort" binding="tns:NfeStatusServicoServiceBinding">
      <soap12:address location="https://homolog.sefaz.go.gov.br/nfe/services/v2/NfeStatusServico2" />
    </port>
  </service>
</definitions>