VigoNFE/Service References/Protocolo3_GO/NfeConsulta2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NfeConsulta2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta2" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:element name="nfeConsultaNF2Result">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" name="versaoDados" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="NfeConsultaService_nfeConsultaNF2">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <message name="NfeConsultaService_nfeConsultaNF2Response">
    <part name="nfeConsultaNF2Result" element="tns:nfeConsultaNF2Result" />
  </message>
  <portType name="NfeConsultaService">
    <operation name="nfeConsultaNF2" parameterOrder="nfeCabecMsg nfeDadosMsg">
      <input message="tns:NfeConsultaService_nfeConsultaNF2" />
      <output message="tns:NfeConsultaService_nfeConsultaNF2Response" />
    </operation>
  </portType>
  <binding name="NfeConsultaServiceBinding" type="tns:NfeConsultaService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeConsultaNF2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta2/nfeConsultaNF2" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
        <soap12:header message="tns:NfeConsultaService_nfeConsultaNF2" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeConsultaNF2Result" />
      </output>
    </operation>
  </binding>
  <service name="NfeConsulta2">
    <port name="NfeConsultaServicePort" binding="tns:NfeConsultaServiceBinding">
      <soap12:address location="https://homolog.sefaz.go.gov.br/nfe/services/v2/NfeConsulta2" />
    </port>
  </service>
</definitions>