VigoNFE/Service References/Evento3_GO/RecepcaoEvento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecepcaoEvento" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:element name="nfeRecepcaoEventoResult">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" name="versaoDados" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="NfeRecepcaoEventoService_nfeRecepcaoEventoResponse">
    <part name="nfeRecepcaoEventoResult" element="tns:nfeRecepcaoEventoResult" />
  </message>
  <message name="NfeRecepcaoEventoService_nfeRecepcaoEvento">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <portType name="RecepcaoEventoService">
    <operation name="nfeRecepcaoEvento" parameterOrder="nfeCabecMsg nfeDadosMsg">
      <input message="tns:NfeRecepcaoEventoService_nfeRecepcaoEvento" />
      <output message="tns:NfeRecepcaoEventoService_nfeRecepcaoEventoResponse" />
    </operation>
  </portType>
  <binding name="RecepcaoEventoServiceBinding" type="tns:RecepcaoEventoService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeRecepcaoEvento">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento/nfeRecepcaoEvento" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
        <soap12:header message="tns:NfeRecepcaoEventoService_nfeRecepcaoEvento" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeRecepcaoEventoResult" />
      </output>
    </operation>
  </binding>
  <service name="RecepcaoEvento">
    <port name="RecepcaoEventoServicePort" binding="tns:RecepcaoEventoServiceBinding">
      <soap12:address location="https://homolog.sefaz.go.gov.br/nfe/services/v2/RecepcaoEvento" />
    </port>
  </service>
</definitions>